body {
    margin: 0;
    background: #000;
}
canvas {
    display: block;
}

#gameContainer {
    border: 7px solid green;
    border-radius: 10px;
    display: inline-block;
}

#gameState {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    pointer-events: none;
}
